body{
    background-color:#222831;
    padding: 0;
    margin: 0;
}
.header{
    color: orange;
    background-color: #222831;
    margin: 0;
    padding: 0;
    font-size: 50px;
    text-align: center;
}
.mainop{
    background-color: black;
    padding:15px 20px 15px 0px;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
}
.mainop a{
    padding: 10px 35px 10px 15px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.mainop a:hover{
    padding: 10px 35px 10px 15px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: rgb(248, 210, 60);
    text-decoration: underline;
    cursor: pointer;
}
.mainop a.active{
    padding: 15px 100px 15px 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(248, 210, 60);
    

}
.footer{
    background-color: black;
    margin: 0;
    padding: 25px 50px 25px 50px;
    color: white;
}
.coll1 p{
    margin: 0;
    font-size: 30px;   
}
.sociallogo{
    padding: 0;
}
.sociallogo a{
    margin: 0;
    padding-left: 10px;
}
.coll1 p{
    color: orange;
    font-weight: bolder;
}
.coll2 dt{
    font-size: 25px;
    font-weight: bolder;
    border-left: solid red 5px;
    height:30px ;
    margin-bottom: 30px;
}
.coll3 dt{
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: bolder;
    border-left: solid red 5px;
    height:30px ;
}

.coll2 p {
    padding-left: 15px;
}
.coll3 p {
    padding-left: 15px;
}